.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
out/test/**
PLANO-MELHORIAS.md
preview.mov
Preview.png
overview.png
*.vsix
